@charset "UTF-8";

@font-face {
    font-family: 'Pokemon hollow';
    src: url('../fontes/Pokemon Hollow.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Pokemon solid';
    src: url('../fontes/Pokemon Solid.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #FFCC01;
    --cor2: #2D6AB4;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-pokemon1: 'Pokemon hollow', cursive;
    --fonte-pokemon2: 'Pokemon solid', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor1);
    font-family: var(--fonte-padrão);
    /*background-image: url('/imagens/pokes.jpg');*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
  }
  
  nav a {
    color: #ffcc01b9;
    text-decoration: none;
    font-family: var(--fonte-padrão);
    font-weight: bolder;
    font-size: 17px;
  }
  
  nav a:hover {
    border-radius: 5px;
    color: var(--cor1);
    filter: drop-shadow(0 0 10px #FFCC01) drop-shadow(0 0 15px #ffcc01c5);
  }
  
  #logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  a.logo {
    text-decoration: none;
  }
  
  #header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--cor2);
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu a {
    display: block;
    padding: 1.5rem;
  }
  
  #btn-mobile {
    display: none;
  }
  
  @media (max-width: 600px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: var(--cor2);
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #2d6ab4dc;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

main {
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 10px;
    padding: 30px;
    background-color: #3577c7f8;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor1);
    font-weight: normal;
    font-family: var(--fonte-pokemon2);
    font-size: 1.8em;
    text-shadow: 1px 1px 5px var(--cor2);
}

main h2 {
    font-family: var(--fonte-pokemon2);
    color: var(--cor1);
    font-size: 1.5em;
    font-weight: normal;
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.185);
}

main img {
    width: 100%;
}

main img.ilust {
    max-width: 400px;
    margin: auto;
    display: block;
    border-radius: 5px;
}

footer {
    background-color: var(--cor2);
    color: var(--cor1);
    font-size: 0.8em;
    width: 100%;
    padding: 15px;
}

footer div {
  display: inline-block;
}

footer a {
    color: var(--cor1);
    font-weight: bolder;
    text-decoration: none;
}

.footright {
  margin-left: 80%;
}

footer a.top {
  border-radius: 4px;
  padding: 10px 21px;
  background-color: var(--cor1);
  color: #2d6ab4c5;
}

footer a.top:hover {
  text-decoration: none;
  color: var(--cor2);
}