@charset "UTF-8";

@font-face {
    font-family: 'Pokemon hollow';
    src: url('../fontes/Pokemon Hollow.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Pokemon solid';
    src: url('../fontes/Pokemon Solid.ttf') format('truetype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #FFCC01;
    --cor2: #2D6AB4;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-pokemon1: 'Pokemon hollow', cursive;
    --fonte-pokemon2: 'Pokemon solid', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color:var(--cor1);
    font-family: var(--fonte-padrão);
    background-image: url('/imagens/pokes.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: var(--fonte-pokemon2);
    color: var(--cor1);
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--cor2);
    height: 8vh;
  }

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: var(--cor2);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #3577c7f8;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.411);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor1);
    font-weight: normal;
    font-family: var(--fonte-pokemon2);
    font-size: 1.8em;
    text-shadow: 1px 1px 5px var(--cor2);
}

main h2 {
    font-family: var(--fonte-pokemon2);
    color: var(--cor1);
    font-size: 1.5em;
    font-weight: normal;
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.253);
}

main img {
    width: 100%;
}

main img.ilust {
    max-width: 400px;
    margin: auto;
    display: block;
    border-radius: 5px;
}

footer {
    background-color: var(--cor2);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}